header{
    display: flex;
    padding: 0 20px;
    margin: 0 5px;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center; 
}
header ul{
    display: flex;

}
header ul li{
    list-style-type: none;
    border-left: 1px solid black;
    padding: 20px;
    margin: auto 10px;
}

/* footer code */
footer{
    position: fixed;
    bottom: 10px;
    display: flex;
    padding: 0 20px;
    margin: 0 5px;
    border: 2px solid black;
    justify-content: left;
    align-items: left;
    text-align: left;
    left: 0;
    right: 0;

}
footer p{
    padding: 10px;
}

/* modal code */
.list-section{
    display: none;
  }
  .enter{
    display: flex;
  }
  .contact-section{
    display: none;
  }
.modal-appear{
    display: table;
}
.modal-disappear{
    display: none;
}
